@font-face {
  font-family: 'icon';
  src:  url('fonts/icon.eot?b408qy');
  src:  url('fonts/icon.eot?b408qy#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?b408qy') format('truetype'),
    url('fonts/icon.woff?b408qy') format('woff'),
    url('fonts/icon.svg?b408qy#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.laz {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.laz-edit:before {
  content: "\e900";
}
.laz-email:before {
  content: "\e901";
}
.laz-exchange:before {
  content: "\e902";
}
.laz-eye:before {
  content: "\e903";
}
.laz-eye-slash:before {
  content: "\e904";
}
.laz-filter:before {
  content: "\e905";
}
.laz-fundraiser:before {
  content: "\e906";
}
.laz-history:before {
  content: "\e907";
}
.laz-loading:before {
  content: "\e908";
}
.laz-location:before {
  content: "\e909";
}
.laz-message:before {
  content: "\e90a";
}
.laz-more:before {
  content: "\e90b";
}
.laz-overview:before {
  content: "\e90c";
}
.laz-phone:before {
  content: "\e90d";
}
.laz-photo:before {
  content: "\e90e";
}
.laz-remove:before {
  content: "\e90f";
}
.laz-remove-round:before {
  content: "\e910";
}
.laz-seach:before {
  content: "\e911";
}
.laz-sedekah:before {
  content: "\e912";
}
.laz-setting:before {
  content: "\e913";
}
.laz-subtract:before {
  content: "\e914";
}
.laz-time:before {
  content: "\e915";
}
.laz-trash:before {
  content: "\e916";
}
.laz-add:before {
  content: "\e917";
}
.laz-add-round:before {
  content: "\e918";
}
.laz-arrow-left:before {
  content: "\e919";
}
.laz-arrow-right:before {
  content: "\e91a";
}
.laz-caret-down:before {
  content: "\e91b";
}
.laz-check:before {
  content: "\e91c";
}
.laz-claim:before {
  content: "\e91d";
}
.laz-confirmation:before {
  content: "\e91e";
}
.laz-direction:before {
  content: "\e91f";
}
.laz-download:before {
  content: "\e920";
}
